@import "../../constants";

.messagesContainer {
  width: 100%;
  height: 100%;
  background-color: $darkM-bgC;
  color: rgba(255, 255, 255, 0.902);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.searchBar {
  background-color: rgb(27, 27, 27);
  height: 2em;
  width: 15em;
  border: none;
  border-radius: 0.75em;
  color: rgba(255, 255, 255, 0.902);
  align-self: center;
  justify-self: center;
  padding: 0 0.5em 0 0.5em;
}

.msgScreenTitle {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // margin: 0.6em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.messageScreenTitle {
//   display: inline-block;
//   align-self: center;
  margin: 1.5em 0 0 0;
}

.topButtons {
  font-size: 0.8rem;
  background-color: #242424;
  width: fit-content;
  align-self: center;
  justify-self: center;
  padding: 2px 0.5rem 2px 0.5rem;
  border-radius: 0.25rem;

  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: #474747;
  }
}
