.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.appIcon {
  width: 45px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    cursor: pointer;
  }
}

.appTitle {
  font-size: 0.75rem;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
}
