/* stylelint-disable scss/dollar-variable-pattern */
/* stylelint-disable selector-class-pattern */
$background: #010409;
$contentItem: #0d1117;
$createBtn: #238636;
$btnBackground: #212830;
$border: #191e24;
$shadow: #2d38458e;
$scrollbar-bg: #558027;
$scrollbar-thumb: #30363d;
$scrollbar-thumb-hover: #6e7681;
$btnBorder: #373d46;
$btnHover: #2a313c;

.projectContainer {
    width: 100%;
    height: 100%;
    background: $background;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    overflow: hidden;
}

.projectHeader {
    display: grid;
    width: 100%;
    height: fit-content;
    grid-template-areas: 
    "image image title title"
    "image image participants category"
    "ghbtn ghbtn ghbtn ghbtn";
    // padding-top: 2rem;
    // padding-bottom: 0.5rem;
    padding: 2rem 0.25rem 0.5rem 0.25rem;
    background: $contentItem;
    border-radius: 0 0 0.25rem 0.25rem;
    gap: 0.5rem;

    & h5, p, ul {
        margin: 0;
        font-size: small;
    }
}

.projectIconWrapper {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    min-width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 0.5rem;
    outline: 1px solid $border;
    box-shadow: 0 0 10px 4px $shadow;
}

.projectIcon {
    width: 100px;
    height: 100px;
}

.projectTitle {
    grid-area: title;
    margin: 0;
    max-height: 90px;
    height: fit-content;
    border-bottom: 2px solid $border;
    overflow: hidden;
}

.projectParticipants {
    grid-area: participants;
}
.projectCategory{
    grid-area: category;
}

.ghBtn {
    grid-area: ghbtn;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
    padding: 0.25rem 1rem;
    cursor: pointer;
    outline: none;
    border: 1px solid $btnBorder;
    background: $btnBackground;
    border-radius: 6px;
    
    &:hover {
        background: $btnHover;
    }
}

.projectContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: $contentItem;
    border-radius:0.25rem 0.25rem 0 0;
    overflow: hidden scroll;
}

.projectDescription {
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 2px solid $border;
    
    & h3 {
        margin:0;
        padding: 0;
    }

    & p, ul {
        margin-top: 0;
        padding-left: 1rem;
    }
}
