.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  max-width: 20%;
}

.appIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 0.5rem;
}

.appIcon {
  width: 45px;
  height: 45px;
  &:hover {
    cursor: pointer;
  }
}

.appTitle {
  font-size: 0.75rem;
  font-weight: bolder;
  text-shadow: 2px 2px 2px black;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
