.screen {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  background-image: url("../../assets/placeholder-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.screen::-webkit-scrollbar {
  display: none;
}

.topDiv {
  height: 100%;
  width: 100%;
  position: relative;
  transition: opacity 0.1s ease-in-out;
}

.bottomDiv {
  height: 100%;
  width: 100%;
  position: relative;
  transition: opacity 0.1s ease-in-out;
}

.line {
  display: block;
  width: 5rem;
  height: 0.25rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2em;
  z-index: 999;
}
