.screen {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  scroll-behavior: smooth;
  background-image: url("../../assets/placeholder-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.screen::-webkit-scrollbar {
  display: none;
}

.topDiv {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.bottomDiv {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
