.screen {
  height: 100%;
  width: 100%;
  position: relative;
  // display: flex;
  // flex-direction: column;
  //display: grid;
  //grid-template-columns: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  background-image: url("../../assets/placeholder-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.screen::-webkit-scrollbar {
  display: none;
}

.topDiv {
  // display: block;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.bottomDiv {
  // display: block;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  // transform: scale(0.5);
}
