@import "../../constants";

.chatContainer {
  display: grid;
  background-color: $darkM-bgC;
  color: $darkM-txtC;
  grid-template-areas: 
  "header"
  "chatmessages"
  "chatinput";
  height: 100%;
}

.chatHead {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-top: 1.5rem;
}

.backBtn {
  grid-column: 1;
  width: 2rem;
  height: 2rem;
}

.personaWrapper {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}




.avatar {
  width: 2em;
  height: auto;
}

.chatTitle {
  margin: 0;
}

.chatMessages {
  grid-area: chatmessages;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 350px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  //border: 2px solid yellow;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chatMessages::-webkit-scrollbar {
  display: none;
}

.chatInputContainer {
  grid-area: chatinput;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  gap: 0.5em;
  width: 100%;
}

.chatInput,
.sendBtn {
  display: inline-block;
  margin: 1em 1em 1em 1em;
}

.chatInput {
  border: none;
  outline: none;
  height: 2em;
  border-radius: 5em;
  padding-left: 1em;
  width: 75%;
  border: 1px solid gainsboro;
}

.sendBtn {
  position: fixed;
  background-color: rgb(0, 136, 255);
  padding: 0.7em;
  border-radius: 100%;
  display: none;
  transition: opacity 0.5s ease-in-out;
  z-index: 99;
  align-items: center;
  justify-content: center;
}

.sendBtn:active {
  transform: translateY(-8px);
}

