.bezel {
  width: 16rem;
  height: 32rem;
  border: 8px solid black;
  border-radius: 1.75rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;
}

.notch {
  width: 5rem;
  height: 1rem;
  background-color: black;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: absolute;
  z-index: 999;
}

.lockButton {
  width: 0.5rem;
  height: 3rem;
  background-color: rgb(34, 31, 31);
  position: absolute;
  top: 35%;
  left: 1096px;
  z-index: 999;
  cursor: pointer;
}
