.bezelWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bezel {
  width: 20rem;
  height: 40rem;
  border: 8px solid rgb(23 23 24);
  border-radius: 1.75rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-shadow: 2px 2px 15px 4px rgb(14 12 12);
  outline: 2px solid rgb(65 68 85);
}

.bezel::-webkit-scrollbar {
  display: none;
}

.notch {
  width: 5rem;
  height: 1rem;
  background-color: rgb(23 23 24);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: absolute;
  z-index: 999;
}

.lockButton {
  width: 0.35rem;
  height: 3rem;
  background-color: rgb(32 34 44);
  border-top-right-radius: 0.15rem;
  border-bottom-right-radius: 0.15rem;
  z-index: 999;
  cursor: pointer;
}
