
.bioDisplayContainer {
    background-color: black;
    width: 100%;
    height: 100%;
    // display: grid;
    // grid-template-areas: 
    // "action-rack action-rack"
    // "note-content note-content";
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.notesActionRack {
    grid-area: action-rack;
    width: 100%;
    height: fit-content;
    padding: 1rem 0 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.noteContent {
    grid-item:note-content;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.notesHeader {
    border-bottom: 2px solid orange;
    margin-top: 0;
}

// .noteTextWrapper {
//     display: flex;
//     flex-direction: column;
// }

.noteSubtitle {
    margin-bottom: 0;
    border-bottom: 1px solid orange;
}

// .noteSections {
//     border: 2px solid green;
// }



.noteSection {
    display: grid;
    grid-template-areas: 
    "title title dates"
    "description description description";
    border-bottom: 1px solid;
}

.noteHeader {
    grid-area: title;
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.noteItemTitle {
    border: 1px solid lightcoral;
}

.noteItemDates {
    grid-area: dates;
    border: 2px solid yellow;
}

.noteItemDescription {
    grid-area: description;
    border: 2px solid lightgoldenrodyellow;
}

