.lockScreenContainer {
  display: grid;
  height: 100%;
  grid-template-rows: auto auto auto auto;
  margin: 2em 0 2em 0;
  gap: 4em;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.item2 {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
}
