.lockScreenContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "watchWrapper"
    "notificationWrapper";
  user-select: none;
  user-select: none;
  user-select: none;
}

.watchWrapper {
  grid-area: watchWrapper;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notificationWrapper {
  grid-area: notificationWrapper;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: fit-content;
}