.homeScreenContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
  transform: scale(1.5);
  opacity: 0.8;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.homeScreenContainerVisible {
  transform: scale(1);
  opacity: 1;
}

.appsContainer {
  place-self: flex-start center;
  display: flex;
  width: 90%;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5em;
  margin-left: 1rem;
  margin-right: 1rem;
}

.favoriteApps {
  place-self: flex-end center;
  display: flex;
  width: 90%;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 0.75rem;
  background-color: rgb(143 143 143 / 80.4%);
  border-radius: 1.75em;
  padding: 0.75rem 0;
  backdrop-filter: blur(25px);
}