.notificationContainer {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 50%;
  background-color: rgba(49, 49, 49, 0.7);
  border-radius: 1em;
  backdrop-filter: blur(20px);
  font-family: "Roboto Mono";
  padding: 0.15rem 0.25rem 0.15rem 0.25rem;

  &:hover {
    cursor: pointer;
  }
}

.icon {
  height: 2.5rem;
  width: 2.5rem;
  align-self: flex-start;
  margin: 0.5em;
}

.notificationText {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notificationHeader {
  margin: 0;
  padding: 0;
  text-align: left;
}

.notificationContent {
  margin: 0 0.5em 0 0.5em;
  font-size: 0.7rem;
  text-align: left;
}
