.lineContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px; // Adjust this value as needed
  overflow: visible;
  touch-action: none; // Prevents default touch actions
  z-index: 999;
  border: 2px solid red;
}

.line {
  position: absolute;
  width: 7rem;
  height: 0.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2em;
  bottom: 5px; // Adjust this value to position the line
  left: 50%;
  transform: translateX(-50%);
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}